body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}
.calculadora {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 260px;
}
.calculadora input[type="button"], .calculadora input[type="text"] {
    width: 50px;
    height: 50px;
    margin: 5px;
    font-size: 20px;
    text-align: center;
}
.calculadora input[type="button"] {
    cursor: pointer;
}
.calculadora input[type="button"]:hover {
    background-color: #ddd;
}
.resultado {
    font-size: 30px;
    margin-bottom: 10px;
    text-align: right;
}
